.distributions {
    display: flex;
    flex-direction: column;
}

.distribution-response {
    display: flex;
    justify-content: center;
    color: blue;
    font-size: large;
    font-weight: 700;
    background-color: aliceblue;
    margin-top: 10px;
}
