.donors-display-table {
    width: 500px;
}

tr.table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

tr.donor-name-object {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px black solid;
    margin-top: 15px;
}

.item-container {
    display: flex;
    flex-direction: column;
    width: 295px;
}

tr.donor-item-object {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
