.pageDescription {
    width: 60%;
}

.link {
    margin-bottom: 5px;
}

.links-list {
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 5px;
}

.homepage-link {
    background-color: aliceblue;
    padding-bottom: 2px;
    padding-right: 1px;
}
