.inventory-display-table {
    width: 50%;
}

.table-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inventory-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inventory-item-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-self: center;
}

.inventory-item {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    justify-content: space-between;
    border-bottom: 1px black solid;
}
